__pycache__/
*.pyc
*.log
.env
db.sqlite3
**/media/forum/images/*
!**/media/forum/images/.gitkeep
**/media/blog/images/*
!**/media/blog/images/.gitkeep
**/media/wiki/images/*
!**/media/wiki/images/.gitkeep
