{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'commissions/styles.css' %}">
{% endblock %}

{% block title %}{{ commission.title }}{% endblock %}

{% block content %}
    <div class="commissions-personal">
        <div class="detail-box">
            <h1 class="commissions-header">{{ commission.title }}</h1>
            <h3 class="centered-text">Author: {{ commission.author }} | Status: {{ commission.status }} | Created on: {{ commission.created_on }} | Updated on: {{ commission.updated_on }}</h3>
            <p> {{ commission.description }} </p>
            {% if request.user.is_authenticated and is_owner %}
            <a href="{% url 'commissions:commission-edit' commission.pk %}" class="edit-button">
                <p>Update Commission</p>
            </a>
            {% endif %}

            <hr class="line">

            <h3>Jobs</h3>
            {% for job, open, appliable in job_current_manpower %}
                <li>{{ job.role }} : Max {{ job.manpower_required }} | Needs {{ open }} more</li>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="job" value="{{ job.id }}">
                        {% if appliable %}
                            <button type="submit">Apply to Job</button>
                        {% else %}
                            <button type="submit" disabled>Job Full</button>
                        {% endif %}
                    </form>
                    <h4 class="comments-margin"></h4>
            {% endfor %}
            <h3>Total Manpower Needed : {{ total_manpower }}</h3>
            <h3>Total Open Manpower: {{ total_open_manpower }}</h3>
            <a href="{% url 'commissions:commissions-list' %}" class="commissions-button">
                <p>Back to Commissions List</p>
            </a>
        </div>
    </div>
    
{% endblock %}