{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'commissions/styles.css' %}">
{% endblock %}

{% block title %}Edit Commission{% endblock %}

{% block content %}
    <h2>Edit Commission</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update Commission</button>
        </form>
    <a href="{% url 'commissions:commission-detail' commission.pk %}" class="back-button">Back to Commission</a>
{% endblock %}