{% extends 'base.html' %}
{% load static %}

{% block title %}Commissions List{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'commissions/styles.css' %}">
{% endblock %}

{% block content %}
    <img src="{% static 'commissions/commissions.jpg' %}" alt="Commissions Header" class="header-image">

        {% if request.user.is_authenticated %}
            <h1 class="commissions-header">CREATED COMMISSIONS</h1>
            <div class="commissions-personal">
                {% for commission in created_commissions %}
                    <a href="{{ commission.get_absolute_url }}" class="card">
                        <h2>{{ commission.title }}</h2>
                        <p>Status: {{ commission.status }}</p>
                        <p>{{ commission.description }}</p>
                        <p>{{ commission.created_on }}</p>
                    </a>
                {% empty %}
                    <p>No commissions available.</p>
                {% endfor %}
            </div>
            <h2 class="commissions-header">APPLIED COMMISSIONS</h2>
            <div class="commissions-personal">
            {% for commission in applied_commissions %}
                <div class="commissions-card">
                    <a href="{{ commission.get_absolute_url }}" class="card">
                        <h2>{{ commission.title }}</h2>
                        <p>Status: {{ commission.status }}</p>
                        <p>{{ commission.description }}</p>
                        <p>{{ commission.created_on }}</p>
                    </a>
                </div>
            {% empty %}
                <p>No commissions available.</p>
            {% endfor %}
            </div>
            <h2 class="commissions-header">OTHER COMMISSIONS</h2>
            <div class="commissions-personal">
            {% for commission in other_commissions %}
                <a href="{{ commission.get_absolute_url }}" class="card">
                    <h2>{{ commission.title }}</h2>
                    <p>Status: {{ commission.status }}</p>
                    <p>{{ commission.description }}</p>
                    <p>{{ commission.created_on }}</p>
                </a>
            {% empty %}
                <p>No commissions available.</p>
            {% endfor %}
            </div>
        {% else %}
            <h1 class="commissions-header">ALL COMMISSIONS</h2>
            <div class="commissions-personal">
                {% for commission in commissions %}
                    <a href="{{ commission.get_absolute_url }}" class="card">
                        <h2>{{ commission.title }}</h2>
                        <p>Status: {{ commission.status }}</p>
                        <p>{{ commission.description }}</p>
                        <p>{{ commission.created_on }}</p>
                    </a>
                {% empty %}
                    <p>No commissions available.</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="commissions-personal">
            <a href="{% url 'commissions:commission-add' %}" class="commissions-button">
                <p>Create New Commission</p>
            </a>
        </div>
{% endblock %}