{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'commissions/styles.css' %}">
{% endblock %}

{% block title %}{{ commission.title }}{% endblock %}

{% block content %}
    <div class="cardslayout">
        <h1 class="header-strip">{{ commission.title }}</h1>
        <h3 style="text-align: center;">Created on: {{ commission.created_on }} | Updated on: {{ commission.updated_on }}</h3>
        <p> {{ commission.description }} </p>
    </div>
    <div class="header-strip">
        <img src="https://picsum.photos/300/300" alt="Commission">
    </div>
    <h3>Jobs:</h3>
    <ul>
        {% for job in jobs %}
        <li>{{ job.role }} : Requires {{ job.manpower_required }}</li>
        {% endfor %}
    </ul>
    <h2>Total Manpower Needed : {{ total_manpower }}</h2>
    <h2>Open Manpower : {{ open_manpower}}</h2>
    <a href="{% url 'commissions:commissions-list' %}" class="button">
        <p>Back to Commissions List</p>
    </a>
{% endblock %}