{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'commissions/styles.css' %}">
{% endblock %}

{% block title %}Update Commission{% endblock %}

{% block content %}
    <h2>Edit Commission</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update Commission</button>
        </form>
    {% for job in jobs %}
    <div>
        <h3>{{ job.title }}</h3>
        <p>Manpower required: {{ job.manpower_required }}</p>

        <h4>Applications</h4>
        <ul>
        {% for app in job_applications|get_item:job %}
            <li>{{ app.applicant.user.username }} - {{ app.status }}</li>
        {% empty %}
            <li>No applications yet.</li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <a href="{% url 'commissions:commission-detail' commission.pk %}" class="back-button">Back to Commission</a>
{% endblock %}