{% extends 'base.html' %}
{% load static %}

{% comment %}
This is the merch form template that is used to when creating a product.
{% endcomment %}

{% comment %}
This section bases the title of the page, and links the correct css file to use for the whole page.
{% endcomment %}

{% block title %}Add New Product{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'merchstore/css/styles.css' %}">
{% endblock %}

{% comment %}
This section includes the form that allowed the user to input/ select information about their product.
{% endcomment %}

{% block content %}
<div class="merchstore-strip"><h1>ADD NEW PRODUCT</h1></div>
<div class="side-margins">
  <form method="post">
    {% csrf_token %}
      <p></p>
      {{ form.name.label_tag }}
      {{ form.name }}
      <p></p>
      {{ form.product_type.label_tag }}
      {{ form.product_type }}
      <p></p>
      {{ form.description.label_tag }}
      <p></p>  
      {{ form.description }}
      <p></p>    
      {{ form.price.label_tag }}
      {{ form.price }}
      <p></p>
      {{ form.status.label_tag }}
      {{ form.status }}
      <p></p>
      {{ form.stock.label_tag }}
      {{ form.stock }}    
      <p></p>

        <button type="submit" class="submit-button">Submit</button>
    </form>

    <a href="{% url 'merchstore:merch-list' %}" class="back-button">Back to Merchandise List</a>
</div>
{% endblock %}
