{% extends 'base.html' %}
{% load static %}
{% load modulo %}

{% comment %}
This is the merch list template that lists all products.
{% endcomment %}

{% comment %}
This section bases the title of the page, and links the correct css file to use for the whole page.
{% endcomment %}

{% block title %}Merchandise List{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'merchstore/css/styles.css' %}">
{% endblock %}

{% block content %}
<img src="{% static 'merchstore/images/merchstore.png' %}" alt="Merch Header" class="header-image">
<div class="merchstore-strip"><h1>MERCHANDISE LIST</h1></div>

{% comment %}
This portion lists the user's products.
{% endcomment %}

<section class="section-block">
  <h3 class="section-title">Your Products</h3>
  {% if user_products %}
    <div class="merch-layout">
      {% for product in user_products %}
        <div class="merch-card">
          <a href="{% url 'merchstore:merch-detail' product.pk %}">
            <img src="{% static 'merchstore/images/product-' %}{{ product.id|modulo:8 }}.png"
                 alt="{{ product.name }}" class="product-image">
            <p class="product-title">{{ product.name }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>You haven't posted any products yet.</p>
  {% endif %}
  
  <div class="button-container">
    <a href="{% url 'merchstore:merch-add' %}" class="create-button">Create New Product</a>
    <a href="{% url 'merchstore:merch-cart' %}" class="create-button">My Cart</a>
    <a href="{% url 'merchstore:transactions' %}" class="create-button">My Transactions</a>
  </div>
</section>


{% comment %}
This portion lists all other products.
{% endcomment %}
<section class="section-block">
  <h3 class="section-title">All Products</h3>

  {% if other_products %}
    <div class="merch-layout">
      {% for product in other_products %}
        <div class="merch-card">
          <a href="{% url 'merchstore:merch-detail' product.pk %}">
            <img src="{% static 'merchstore/images/product-' %}{{ product.id }}.png"
                 alt="{{ product.name }}" class="product-image">
            <p class="product-title">{{ product.name }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No products available.</p>
  {% endif %}
</section>


{% endblock %}
