{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="header-strip"></div>
<img src="{% static 'merchstore/merchstore.png' %}" alt="Merch Header" class="header-image">
<h1 class="header-strip">Merchandise List</h1>
<div class="cardslayout"> 
    {% for product in products %}
        <div class="card">
            <a href="{% url 'merchstore:merch-detail' product.pk %}">
            <img src="{% static 'merchstore/product-' %}{{ product.id }}.png"
            alt="{{ product.name }}" 
            class="product-image">
            <p>{{ product.name }}</p>
            </a>
        </div>
    {% empty %}
        <li>No products available.</li>
    {% endfor %}
</div>


<h2>Your Products</h2>
{% if user_products %}
    <ul>
        {% for product in user_products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>You haven't posted any products yet.</p>
{% endif %}

<h2>All Products</h2>
{% if all_products %}
    <ul>
        {% for product in all_products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No products available.</p>
{% endif %}


<a href="{% url 'merchstore:merch-add' %}">Create New Product</a>

{% endblock %}