<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forum</title>
        <link rel="stylesheet" type="text/css" href="{% static 'forum/css/styles.css' %}">
    </head>
    <body>
        <div class="header-strip"></div>
        <img src="{% static 'forum/images/forum.png' %}" alt="Forum Header" class="header-image">
        {% if request.user.is_authenticated %}
            <h1 class="header-strip">USER'S THREADS</h1>
            <h3 class="beige-strip">BROWSE THROUGH YOUR PUBLISHED THREADS</h3>
            <div class="layout-personal">
                <a href="{% url 'forum:thread-add' %}" class="button">
                    <p>Create New Thread</p>
                </a>
                {% for thread in threads %}
                    {% if thread.author.user == request.user %}
                        <div class="thread-card">
                            <a href="{{ thread.get_absolute_url }}"><h3>{{ thread }}</h3></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <h1 class="header-strip">ALL THREADS</h1>
        {% if request.user.is_authenticated %}
            <h3 class="beige-strip">BROWSE THROUGH OTHER USERS' THREADS</h3>
        {% else %}
            <h3 class="beige-strip">BROWSE THROUGH ALL OUR USERS' THREADS</h3>
        {% endif %}
        <div class="bottom-margin">
            {% if not request.user.is_authenticated %}
                <div class="cards-layout">
                    <div class="button">
                        <p>Create New Thread</p>
                    </div>
                </div>
            {% endif %}
            {% for threadcategory in threadcategories %}
                <h1 class="category-header">{{ threadcategory }}</h1>
                <div class="cards-layout">
                    {% for thread in threads %}
                        {% if request.user.is_authenticated %}
                            {% if thread.category == threadcategory and thread.author.user != request.user %}
                                <div class="thread-card">
                                    <a href="{{ thread.get_absolute_url }}"><h3>{{ thread }}</h3></a>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if thread.category == threadcategory %}
                                <div class="thread-card">
                                    <a href="{{ thread.get_absolute_url }}"><h3>{{ thread }}</h3></a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>
