{% extends 'base.html' %}
{% load static %}

{% comment %}
This is the thread_form.html template, which renders a form used to create or edit a particular thread.
{% endcomment %}

{% comment %}
This section sets the title of the page and links the correct css file to use for the whole page.
{% endcomment %}
{% block title %}Create/Edit Thread{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/styles.css' %}">
{% endblock %}

{% comment %}
This section renders the threadform and adds css to the default form.
{% endcomment %}
{% block content %}
    <h1 class="forum-header">CREATE/EDIT THREAD</h1>
    <p></p>
    <div class="side-margins">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title.label_tag }}
            {{ form.title }}
            <p></p>
            {{ form.category.label_tag }}
            {{ form.category }}
            <p></p>
            {{ form.entry.label_tag }}
            <p></p>
            {{ form.entry }}
            <p></p>
            {{ form.image.label_tag }}
            {{ form.image }}
            <p></p>
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </div> 
{% endblock %}
