{% extends 'base.html' %}
{% load static %} 

{% block title %}Forum{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="forum-header"></div>
    <img src="{% static 'forum/images/forum.png' %}" alt="Forum Header" class="header-image">

    {% if request.user.is_authenticated %}
        <h1 class="forum-header">USER'S THREADS</h1>
        <h3 class="forum-beige">BROWSE THROUGH YOUR PUBLISHED THREADS</h3>
        <div class="forum-personal">
            <a href="{% url 'forum:thread-add' %}" class="forum-button">
                <p>Create New Thread</p>
            </a>
            {% for thread in threads %}
                {% if thread.author.user == request.user %}
                    <div class="forum-card">
                        <a href="{{ thread.get_absolute_url }}" class="thread-link"><h3>{{ thread }}</h3></a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <h1 class="forum-header">ALL THREADS</h1>
    {% if request.user.is_authenticated %}
        <h3 class="forum-beige">BROWSE THROUGH OTHER USERS' THREADS</h3>
    {% else %}
        <h3 class="forum-beige">BROWSE THROUGH ALL OUR USERS' THREADS</h3>
    {% endif %}

    <div class="bottom-margin">
        {% if not request.user.is_authenticated %}
            <div class="forum-all">
                <a href="{% url 'forum:thread-add' %}" class="forum-button">
                    <p>Create New Thread</p>
                </a>
            </div>
        {% endif %}
        
        {% for threadcategory in threadcategories %}
            <h1 class="category-header">{{ threadcategory }}</h1>
            <div class="forum-all">
                {% if request.user.is_authenticated %}
                    {% for thread in threads %}
                        {% if thread.category == threadcategory and thread.author.user != request.user %}
                            <div class="forum-card">
                                <a href="{{ thread.get_absolute_url }}" class="thread-link"><h3>{{ thread }}</h3></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for thread in threads %}
                        {% if thread.category == threadcategory %}
                            <div class="forum-card">
                                <a href="{{ thread.get_absolute_url }}" class="thread-link"><h3>{{ thread }}</h3></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
