{% extends 'base.html' %}

{% load static %}

{% block title %}Create/Edit Thread{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/styles.css' %}">
{% endblock %}

{% block content %}
    <div>
        <h1 class="header-strip">CREATE/EDIT THREAD</h1>
        <p></p>
        <div class="side-margins">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-field">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
                <p></p>
                <div class="form-field">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>
                <p></p>
                <div class="form-field">
                    {{ form.entry.label_tag }}
                    <p></p>
                    {{ form.entry }}
                </div>
                <p></p>
                <div class="form-field">
                    {{ form.image.label_tag }}
                    {{ form.image }}
                </div>
                <p></p>
                <div class="form-field">
                    <input type="submit" value="Submit" class="submit-button">
                </div>
            </form>
        </div> 
    </div>
{% endblock %}
