body, html {
    background-color: #f1ece6;
    color: #383735;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.commissions-header {
    background-color: #ebbe52;
    color: #f1ece6;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-align: center;
    font-weight: 100;
    margin: 0%;
}
.commissions-personal {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3%;
}
.commissions-button {
    background-color: #ebbe52;
    color: #f1ece6;
    display: block;
    padding: .5%;
    text-decoration: none;
    text-align: center;
    width: 15%;
    border-radius: 20px;
    border-style: solid;
    border-color: #ebbe52;
    margin-top: 3%;
}
.commissions-card {
    display: block;
    padding: 2%;
    width: 90%;
    border-radius: 20px;
    border-style: solid;
    border-color: #ebbe52;
    margin-top: 3%;
}
.commissions-all {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.bottom-margin {
    margin-bottom: 4.5%;
}
.category-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    width: 100%;
    margin-top: 4.5%;
}
.detail-box {
    display: block;
    padding: 2%;
    width: 90%;
    border-radius: 20px;
    border-style: solid;
    border-color: #ebbe52;
    margin-top: 3%;
}
.line {
    height: 2px;
    background-color: #ebbe52;
    margin-top: 3%;
    border-style: solid;
}
.custom-comment-box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: medium;
    color:#37499e;
    padding: 2%;
    width: 100%;
    resize: vertical;
    height: 100px;
    border-radius: 20px;
    border-width: 2px;  
    border-color: #ebbe52;
    border-style: solid;
    background-color: #f1ece6;
}
.custom-title-box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: medium;
    color:#ebbe52;
    width: 50%;
    border-radius: 20px;
    border-width: 2px;
    border-color: #ebbe52;
    border-style: solid;
    background-color: #f1ece6;
    padding-left: 1%;
}
.custom-categ-box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: medium;
    color:#ebbe52;
    width: 30%;
    border-radius: 20px;
    border-width: 2px;  
    border-color: #ebbe52;
    border-style: solid;
    background-color: #f1ece6;
    padding-left: 1%;
}
.submit-button {
    display: block;
    background-color: #f1ece6;
    color:#ebbe52;
    padding: 1%;
    text-decoration: none;
    border-radius: 15px;
    border-style: solid;
    border-color: #ebbe52;
    margin-top: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: medium;
}
.edit-button {
    display: flex;
    color:#ebbe52;
    height: 50px;
    width: 10%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-color: #ebbe52;
    margin-top: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: medium;
}
.centered-text {
    text-align: center;
}
.thread-image {
    max-width: 50%;
    max-height: 500px;
}
.comments-margin {
    margin-top: 3%;
}
.thread-link {
    color: #37499e;
}


