{% extends 'base.html' %}
{% load static %}

{% block title %}Create and Edit Article{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/styles.css' %}">
{% endblock %}

{% block content %}
<body>
<h1>CREATE/EDIT AN ARTICLE</h1>
    <div style="margin: 3%">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.title.label_tag }}
        {{ form.title }}

        <br><br>

        {{ form.category.label_tag }}
        {{ form.category }}

        <br><br>

        {{ form.header_image.label_tag }}
        {{ form.header_image }}
        
        <br><br>

        {{ form.entry.label_tag }}
        {{ form.entry }}

        <br><br>

        {{ form.image.label_tag }}
        {{ form.image }}

        <br> <br>
        {% if form.instance.image %}
            <img src="{{ form.instance.image.url }}" alt="Current Image" style="max-width: 200px; margin-top: 10px;">
        {% endif %}
        
        <br><br>

        <button type="submit">Submit</button>
        </form>
    </div>   
</body>
{% endblock %}