{% extends 'base.html' %}
{% load static %}

{% block title %}Create and Edit Article{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/styles.css' %}">
{% endblock %}

{% block content %}
<body>
<h1>CREATE/EDIT AN ARTICLE</h1>
    <div style="margin: 3%">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.title.label_tag }}
        {{ form.title }}

        <br><br>

        {{ form.entry.label_tag }}
        {{ form.entry }}

        <br><br>

        {{ form.header_mage.label_tag }}
        {{ form.header_image }}

        <br><br>

        <button type="submit">Submit</button>
        </form>
    </div>   
</body>
{% endblock %}