{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Articles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/styles.css' %}">
</head>
<body>
    <header>
        <h1><a href = '/wiki/articles'>WIKI</a></h1>
    </header>
    <main>
        <img src="{% static 'wiki/images/wiki.png' %}" alt="Header">
    
        <section class ="boxdiv">
            <h2>Article Categories</h2>
        </section>

        {% if user.is_authenticated %}
        <section class="boxdiv2">
            <h2>Your Articles</h2>
        </section>

            {% if user_articles %}
                <div class="category-container">
                {% for article in user_articles %}
                    <div class="table-box">
                        <div class="name">{{ articlecategory.name }}</div>
                        <div class="description">{{ articlecategory.description }}</div>
                    </div>
                {% empty %}
                    <p>No categories available.</p>
                {% endfor %}
            </div>
            {% else %}
                <p style="text-align: center;">You have not created any articles yet.</p>
            {% endif %}
        {% endif %}

        <section class="boxdiv2">
            <h2>All Articles</h2>
        </section>
        {% if other_articles %}
            <div class="category-container">
                {% for article in other_articles %}
                    <div class="table-box">
                        <div class="name">{{ articlecategory.name }}</div>
                        <div class="description">{{ articlecategory.description }}</div>
                    </div>
                {% empty %}
                    <p>No categories available.</p>
                {% endfor %}
            </div>
        {% else %}
            <p style="text-align: center;">You have not created any articles yet.</p>
        {% endif %}

         {% if user.is_authenticated %}
            <div style="text-align: center; margin: 2%;">
                <a href="{% url 'article_create' %}"><button>Create an Article</button></a>
            </div>   
        {% endif %}
    </main>
</body>
</html>

