{% extends 'base.html' %}
{% load static %}

{% block title %}Wiki{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/styles.css' %}">
{% endblock %}

{% block content %}
<body>
    <main>
        <img src="{% static 'wiki/images/wiki.png' %}" alt="Header">
    
        <section class ="boxdiv">
            <h2>Articles</h2>
        </section>

{% if is_logged_in %}
    <!--this shows the author's articles, grouped by category-->
    <h2 class="boxdiv2">Your Articles</h2>
    {% if has_user_articles %}
    {% for group in grouped_user_articles %}
        {% if group.articles %}
            <p class="category">{{ group.category.name }}</p>
            <div class="category-container">
                {% for article in group.articles %}
                    <a href="{{ article.get_absolute_url }}">
                        <div class="table-box">
                            <p class="name">{{ article.title }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    {% if no_category_userarticles %}
        <p class="category">Uncategorized</p>
        <div class="category-container">
            {% for group in no_category_userarticles %}
                {% if group.category == "Uncategorized" %}
                    {% for article in group.articles %}
                        <a href="{{ article.get_absolute_url }}">
                            <div class="table-box">
                                <p class="name">{{ article.title }}</p>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% else %}
        <p style="text-align: center;"> You have not written any articles.</p>
    {% endif %}

    <!--this shows other articles not by the author, grouped by category-->
    <h2 class="boxdiv2">Other Articles</h2>
    {% if has_other_articles %}
    {% for group in grouped_other_articles %}
        {% if group.articles %}
            <p class="category">{{ group.category.name }}</p>
            <div class="category-container">
                {% for article in group.articles %}
                    <a href="{{ article.get_absolute_url }}">
                        <div class="table-box">
                            <p class="name">{{ article.title }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    {% if no_category_otherarticles %}
        <p class="category">Uncategorized</p>
        <div class="category-container">
            {% for group in no_category_otherarticles %}
                {% if group.category == "Uncategorized" %}
                    {% for article in group.articles %}
                        <a href="{{ article.get_absolute_url }}">
                            <div class="table-box">
                                <p class="name">{{ article.title }}</p>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% else %}
        <p style="text-align: center;"> There are no other available articles.</p>
    {% endif %}

<!--this shows all the articles for those not logged in, grouped by category-->
{% else %}
    <h2 class="boxdiv2">All Articles</h2>
    {% if has_all_articles %}
        {% for group in grouped_all_articles %}
            {% if group.articles %}
                <p class="category">{{ group.category.name }}</p>
                <div class="category-container">
                    {% for article in group.articles %}
                        <a href="{{ article.get_absolute_url }}">
                            <div class="table-box">
                                <p class="name">{{ article.title }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

        {% if nocategory_all_articles %}
        <p class="category">Uncategorized</p>
        <div class="category-container">
            {% for group in nocategory_all_articles %}
                {% if group.category == "Uncategorized" %}
                    {% for article in group.articles %}
                        <a href="{{ article.get_absolute_url }}">
                            <div class="table-box">
                                <p class="name">{{ article.title }}</p>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}

    {% else %}
        <p style="text-align: center;"> There are no other available articles.</p>
    {% endif %}
{% endif %}


{% if user.is_authenticated %}
    <div style="text-align: center; margin: 2%;">
        <a href="{% url 'wiki:article_create' %}"><button>Create an Article</button></a>
    </div>   
{% endif %}
</main>
</body>
{% endblock %}
