{% extends 'base.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/css/styles.css' %}">
{% endblock %}

{% block content %}
<body>
    <main>
        <!--this is for the article, along with author details-->

        {% if article.header_image %}
            <img src="{{ article.header_image.url }}" alt="{{ article.title }} image" class="header-image">
        {% endif %}

        <div class="article-container">

            <h1 class="article-title">{{ article.title }}</h1>
            <p class="article-meta">Created on {{ article.created_on }} | Updated on {{ article.updated_on }}</p>
            
            <div class="article-entry">
                {{ article.entry }}  
            </div>

            <!--if the user is the owner of the article, they can edit it-->
            {% if is_owner %}
                <p><a href="{% url 'wiki:article_update' article.pk %}" class="edit-link">Edit this article</a></p>
            {% endif %}
        </div>

        <h3 style="text-align: center;"><a href="{% url 'wiki:articles' %}" class="back-link">← Back to All Articles</a></h3>

        <h3 class="subheader">Comments</h3>
        <div class="comment-section">
        {% if user.is_authenticated %}
            <p>Leave a Comment</p>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Post Comment</button>
            </form>
        {% endif %}

        {% if comments %}
            <ul>
                {% for comment in comments %}
                    <li>
                        <strong>{{ comment.author }}</strong> 
                        <em>on {{ comment.created_on }}</em>
                        <div class="comment-entry">
                            <p>{{ comment.entry }}</p>
                        </div> 
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No comments yet.</p>
        {% endif %}
        </div>

        <h3 class="subheader">GALLERY</h3>
        <div class="gallery-container">
            {% for images in gallery_images %}
            <div class="gallery-item">
                <img src="{{ images.image.url }}">
                <form method="post" class="delete-form">
                    {% csrf_token %}
                    <input type="hidden" name="remove_image" value="{{ images.id }}">
                    <button type="submit" class="delete-button">X</button>
                </form>
            </div>
            {% endfor %}
        </div>

        <div>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ gallery_form.as_p }}
            <button type="submit">Upload Images</button>
        </form>
        </div>

        {% if article.category %}
        {% if related_articles %}
            <h3 class="subheader">Read more from the category: {{ article.category.name }}</h3>
            <ul class="related-list">
                {% for related in related_articles %}
                    <li class="other-articles"><a href="{% url 'wiki:article_detail' related.pk %}">{{ related.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endif %}

    </main>
</body>
{% endblock %}