{% extends 'wiki/base.html' %}
{% load static %}
{% block title %}Articles{% endblock %}

{% block content %}

    <img src="{% static 'wiki/images/wiki.png' %}" alt="Header">
    
    <section class ="boxdiv">
        <h2>Article Categories</h2>
    </section>

    <div class="category-container">
        {% for articlecategory in articlecategories %}
            <div class="table-box">
                <img src="https://picsum.photos/50" class="category-icon">
                <div class="name">{{ articlecategory.name }}</div>
                <div class="description">{{ articlecategory.description }}</div>
            </div>
        {% empty %}
            <p>No categories available.</p>
        {% endfor %}
    </div>

    {% if user.is_authenticated and user_articles %}
    <ul>
        {% for article in user_articles %}
            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
    {% elif user.is_authenticated %}
        <p>You haven't written any articles yet.</p>
    {% endif %}

    <section class="boxdiv">
        <h2>All Articles</h2>
    </section>

    {% for category, articles_in_category in grouped_articles.items %}
        <h3>{{ category.name }}</h3>
        <ul>
            {% for article in articles_in_category %}
                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>No articles available.</p>
    {% endfor %}

    
    <section class ="boxdiv">
        <h2>Articles</h2>
    </section>

    <table class="article-table">
        <tbody>
            {% for article in articles %}
            <tr>
                <td>
                    <a href="{{ article.get_absolute_url }}" class="full-link">
                        <div class="article-content">
                            <img src="https://picsum.photos/300/200" class="article-img">
                            <div class="name">{{ article.title }}</div>
                            <div class="category">{{ article.category }}</div>
                            <div class="extra-details">Created on {{ article.created_on }} || Updated on {{ article.updated_on }}</div>
                        </div>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
