{% extends 'base.html' %}

{% load static %}

{% block title %}Article Details{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
    <title>Article Detail</title>
</head>
<body>
    <div class="header-strip"></div>

    {% if article.header_image %}
        <img src="{{ article.header_image.url }}" alt="{{ article.title }} image" class="header-image">
    {% endif %}

    <h2 class="article-title">{{ article.title }}</h2>
    <h3 style="text-align: center">{{ article.category }}</h3>
    <h4 style="text-align: center">
        Author: {{ article.author.user }} <br><br>
        Created on: {{ article.created_on }} <br>
        Updated on: {{ article.updated_on }}
    </h4>

    <p class="article-entry">{{ article.entry|linebreaksbr }}</p>

    {% if article.author.user == request.user %}
        <a href="{% url 'blog:article_update' article.pk %}"><button>Update</button></a>
    {% endif %}

    <h2 class="subheader">COMMENTS</h2>
    <div class="comment-section">
        <form method="post">
        {% if user.is_authenticated %}
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Post Comment</button>
        </form>
        {% endif %}

        {% for comment in comments %}
        <p><strong>{{ comment.author.user }}</strong> on {{ comment.created_on }}:</p>
        <div class="comment">
            <p>{{ comment.entry }}</p>
        </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>

    <h2 class="subheader">GALLERY</h2>
    <div class="gallery-container">
        {% for images in gallery_images %}
        <div class="gallery-item">
            <img src="{{ images.image.url }}">
            <form method="post" class="delete-form">
                {% csrf_token %}
                <input type="hidden" name="remove_image" value="{{ images.id }}">
                <button type="submit" class="delete-button">X</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <div>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ gallery_form.as_p }}
        <button type="submit">Upload Images</button>
    </form>
    </div>

    {% if request.user.is_authenticated %}
        <h2 class="subheader">MORE FROM THIS AUTHOR</h2>
        <div class="cardslayout">
            {% for article in articles %}
            <div class="thread-card">
                <a href="{{ article.get_absolute_url }}">
                    <h2>{{ article.title }}</h2>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <a href="{% url 'blog:article_list' %}"><button>Back to Article List</button></a>
</body>
</html>
{% endblock %}