{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Article</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
    <div class="header-strip"></div>

    {% if article.header_image %}
        <img src="{{ article.header_image.url }}" alt="{{ article.title }} image" class="header-image">
    {% endif %}

    <h2 class="article-title">{{ article.title }}</h2>
    <h3 style="text-align: center">{{ article.category }}</h3>
    <h4 style="text-align: center">
        Created on: {{ article.created_on }} | Updated on: {{ article.updated_on }}
    </h4>

    <p class="article-entry">{{ article.entry|linebreaksbr }}</p>

    {% if request.user.is_authenticated %}
        {% if article.author.user == request.user %}
        <a href="{% url 'blog:article_update' article.pk %}"><button>Update</button></a>
        {% endif %}
    {% endif %}


    <h3 style="text-align: center"><a href="{% url 'blog:article_list' %}">Back to List View</a></h3>
</body>
</html>