{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
    <div class="header-strip"></div>
    
    <img src="{% static 'blog/images/blog.png' %}" alt="Blog Header" class="header-image">

    {% if request.user.is_authenticated %}
    <h1 class="header-strip">USER'S ARTICLES</h1>
    <div class="cardslayout">
        {% for article in articles %}
            {% if article.author.user == request.user %}
                <div class="thread-card">
                    <a href="{{ article.get_absolute_url }}">
                        <h2>{{ article.title }}</h2>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <a href="{% url 'blog:article_create' %}">
        <button>Create an Article</button>
    </a>
    
    <h1 class="header-strip">ALL ARTICLES</h1>
    <div class="cardslayout">
        {% for category in categories %}
            <h2 class="subheader">{{ category.name }}</h2>
            {% for article in category.article.all %}
            {% if article.author.user != request.user %}
            <div class="thread-card">
                <a href="{{ article.get_absolute_url }}">
                    <h2>{{ article.title }}</h2>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>