{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
</head>
<body>
    <div class="header-strip"></div>
    <img src="{% static 'blog/images/blog.png' %}" alt="Forum Header" class="header-image">
    <h1 class="header-strip">CATEGORIES</h1>
    <div class="cardslayout">
        {% for category in categories %}
            <div class="card">
                <h2>{{ category.name }}</h2>
                <p>{{ category.description }}</p>
            </div>
        {% endfor %}
    </div>
    <h1 class="header-strip">ARTICLES</h1>
    <div class="cardslayout">
        {% for article in articles %}
        <div class="thread-card">
            <a href="{{ article.get_absolute_url }}"><h2>{{ article.title }}</h2></a>
            <h3>{{ article.category }}</h3>
            <p>Created on: {{ article.created_on }} | Updated on: {{ article.updated_on }}</p>
        </div>
    {% endfor %}
    </div>
</body>
</html>