{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header class="navbar">
        <nav>
            <img src="{% static 'images/logo.png' %}" alt="Site Logo" class="navbar-logo">
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.profile.display_name }}!</span>
                <p> | </p>
                <a href="{% url 'homepage' %}">Home</a>
                <a href="{% url 'user_management:dashboard' %}">Dashboard</a>
                <form method="POST" action="{% url 'accounts:logout' %}" class="inline-display">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'accounts:login' %}">Login</a>
                <a href="{% url 'accounts:register' %}">Sign Up</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>