{% load static %}
<!DOCTYPE html>

{% comment %}
This is the base.html file, which serves as the base file for all html templates.
It contains some basic css styles and the navigation bar.
{% endcomment %}

<html lang="en">
<head>
    {% comment %}
    This section allows each page to have a custom title and added stylesheet for css.
    {% endcomment %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/Hobbysite_favicon.png' %}" type="image/png">
    {% block styles %}{% endblock %}
</head>
<body>
    {% comment %}
    This section adds the navigation bar with dropdowns that also help easily access each page and logout,
    or log in and out if the user has not yet done so.
    {% endcomment %}
    <header class="navbar">
        <nav>
            <a href="{% url 'homepage' %}"><img src="{% static 'images/logo.png' %}" alt="Site Logo" class="navbar-logo"></a>
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.profile.display_name }}!</span>
                <a href="{% url 'homepage' %}">Home</a>
                <a href="{% url 'user_management:dashboard' %}">Dashboard</a>
            
                 <div class="dropdown">
                    <a class="dropbtn">Merchandise Store ▾ </a>
                    <div class="dropdown-content">
                        <a href="{% url 'merchstore:merch-list' %}">Merchandise List</a>
                         <a href="{% url 'merchstore:merch-add' %}">Create New Product</a>
                        <a href="{% url 'merchstore:merch-cart' %}">Your Cart</a>
                        <a href="{% url 'merchstore:transactions' %}">Your Transactions</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a class="dropbtn">Wiki ▾ </a>
                    <div class="dropdown-content">
                        <a href="{% url 'wiki:articles' %}">Articles</a>
                        <a href="{% url 'wiki:article_create' %}">Create an Article</a>
                    </div>
                </div>
                
                 <div class="dropdown">
                    <a class="dropbtn">Blog ▾ </a>
                    <div class="dropdown-content">
                        <a href="{% url 'blog:article_list' %}">Articles</a>
                        <a href="{% url 'blog:article_create' %}">Create an Article</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a class="dropbtn">Forum ▾ </a>
                    <div class="dropdown-content">
                        <a href="{% url 'forum:threads-list' %}">Threads List</a>
                        <a href="{% url 'forum:thread-add' %}">Add Thread</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a class="dropbtn">Commissions ▾ </a>
                    <div class="dropdown-content">
                        <a href="{% url 'commissions:commissions-list' %}">Commissions List</a>
                        <a href="{% url 'commissions:commission-add' %}">Create Commission</a>
                    </div>
                </div>

                <form method="POST" action="{% url 'accounts:logout' %}" class="inline-display">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'homepage' %}">Home</a>
                <a href="{% url 'merchstore:merch-list' %}">Merchandise Store</a>
                <a href="{% url 'wiki:articles' %}">Wiki</a>
                <a href="{% url 'blog:article_list' %}">Blog</a>
                <a href="{% url 'forum:threads-list' %}">Forum</a>
                <a href="{% url 'commissions:commissions-list' %}">Commissions</a>
                <a href="{% url 'accounts:login' %}">Login</a>
                <a href="{% url 'accounts:register' %}">Sign Up</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>