{% extends 'base.html' %}
{% load static %}

{% comment %}
This is the homepage.html template, used to link all the apps together and allow a logged in user to view their dashboard.
This also serves as the default redirect page for logins.
{% endcomment %}

{% comment %}
This section sets the title of the page, and links the correct css file to use for the whole page.
{% endcomment %}
{% block title %}Hobbysite{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% comment %}
This section renders the homepage using css. It includes a short introduction and the links to the other apps.
{% endcomment %}
{% block content %}

    {% comment %}
    This section forms the page header and the short introduction to the site.
    {% endcomment %}
    <p class="home-header">CSCI40 FINAL PROJECT GROUP 17</p>
    <img src="{% static 'images/hobbysite.png' %}" alt="Home Header" class="header-image">
    <h1 class="home-header">ABOUT US</h1>
    <div class=" cards-layout">
        <div class="info-card">
            <p>HobbySite is a project built by five Computer Science students 
            who believe that hobbies deserve more than just a side panel on 
            social media. Whether you're an artist, collector, gamer, or maker, 
            we've built this space for you. Hobbysite has grown into a full-featured 
            platform—complete with a blog, commissions marketplace, community forum, 
            merch store, and wiki—designed to help hobbyists connect, share,
            and thrive.</p>
        </div>
    </div>

    {% comment %}
    This section has buttons to visit all the apps, or the user's dashboard if the user is logged in to their profile.
    {% endcomment %}
    <h1 class="home-header">VISIT OUR PAGES</h1>
    {% if request.user.is_authenticated %}
        <a href="{% url 'user_management:dashboard' %}" class="link">
            <h3 class="link-strip">OR VISIT YOUR DASHBOARD</h3>
        </a>
    {% endif %}
    <div class="cards-layout">
        <a href="{% url 'blog:article_list' %}" class="card">
            <h3>BLOG</h3>
        </a>
        <a href="{% url 'commissions:commissions-list' %}" class="card">
            <h3>COMMISSIONS</h3>
        </a>
        <a href="{% url 'forum:threads-list' %}" class="card">
            <h3>FORUM</h3>
        </a>
        <a href="{% url 'merchstore:merch-list' %}" class="card">
            <h3>MERCHSTORE</h3>
        </a>
        <a href="{% url 'wiki:articles' %}" class="card">
            <h3>WIKI</h3>
        </a>
    </div>
{% endblock %}